

<table class="table table-light text-center">
<thead class="thead-light">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Team One</th>
    <th scope="col">Score One</th>
    <th scope="col">Team Two</th>
    <th scope="col">Score Two</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row"><%= post.created_at.time.to_date %></th>
    <td><%= link_to post.team1, post_path(post) %></td>
    <td><%=post.score1 %></td>
    <td><%= link_to post.team2, post_path(post) %></td>
    <td><%=post.score2 %></td>
</tr>
</tbody>
</table>

