<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team1, style: "display: block" %>
    <%= form.text_field :team1 %>
  </div>

  <div>
    <%= form.label :team2, style: "display: block" %>
    <%= form.text_field :team2 %>
  </div>

  <div>
    <%= form.label :score1, style: "display: block" %>
    <%= form.number_field :score1 %>
  </div>

  <div>
    <%= form.label :score2, style: "display: block" %>
    <%= form.number_field :score2 %>
  </div>

  <div>
    <%= form.label :fulltime, style: "display: block" %>
    <%= form.check_box :fulltime %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
