<div id="<%= dom_id post %>">


<table class="table table-light ">
<thead class="thead-light">
  <tr>
    <th scope="col"><strong>Team1</strong></th>
    <th scope="col"><strong>Team2</strong></th>
    <th scope="col"><strong>Score1</strong></th>
    <th scope="col"><strong>Score2</strong></th>
    <th scope="col"><strong>Fulltime</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><%= post.team1 %></td>
    <td><%= post.team2 %></td>
    <td><%= post.score1 %></td>
    <td><%= post.score2 %></td>
    <td><%= post.fulltime %></td>
</tr>
</tbody>
</table>
 

</div>
